*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  background: var(--bodyBackgroundColor);
}

/* :root{
  --bodyBackgroundColor: #1a202e;
  --boxBackgroundColor: #1c2230;
  --inputBackgroundColor: #292847;
  --borderColor: #27303f;
  --inputTextColor: #97a6ba;
  --textColor: #e2e8f0;
  --svgColor: invert(73%) sepia(6%) saturate(828%) hue-rotate(175deg) brightness(88%) contrast(94%);
} */



/* :root{
  --bodyBackgroundColor: #84e0fe;
  --boxBackgroundColor: #bfefff;
  --inputBackgroundColor: #2666CF;
  --borderColor: #4682b4;
  --inputTextColor: #cae1ff;
  --textColor: #4876ff;
  --svgColor: invert(80%) sepia(25%) saturate(293%) hue-rotate(180deg) brightness(103%) contrast(102%);
} */


:root{
    --bodyBackgroundColor: #081b25;
    --boxBackgroundColor: #14232d;
    --inputBackgroundColor: #263742;
  /* --borderColor: #27303f; */
    --weatherInfoBGColor: #353361;
    --textColor: #f0f2ef;
    /* --searchIconColor: #6693ab; */
    /* --searchIconColor: invert(52%) sepia(36%) saturate(386%) hue-rotate(157deg) brightness(99%) contrast(87%); */
    --miniIconColor: #6686b6;
    --weatherIconColor: #f0f2ef;
}


.container{
  width: 100%;
  height: 100vh;;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.searchBox{
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  width: 100%;
}

.inputClass{
  min-width: 60%;
  padding: 10px 10px 10px 20px;
  border-radius: 25px 0 0 25px;
  font-size: 18px;
  border:none;
  background: var(--inputBackgroundColor);
  color: var(--textColor);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
  /* position:absolute; */
}

.inputClass:focus{
  outline: none;
}

.inputClass:focus::placeholder {
  color: transparent;
}

::placeholder{
  color:var(--inputTextColor);
}

.searchBtn{
  height: 45px;
  min-width: 45px;
  padding: 10px;
  border-radius: 0 25px 25px 0;
  border:none;
  color: var(--textColor);
  cursor: pointer;
  background: var(--inputBackgroundColor);
  /* fill: var(--searchIconColor); */
  display: flex;
  align-items: center;
}


.weatherInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--textColor);
}

.box{
  background: var(--boxBackgroundColor);
  width: 500px;
  padding: 2em;
  border-radius: 30px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
  position:relative;
}

.descriptionBox{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.weatherDescription{
  background: var(--weatherInfoBGColor);
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 18px;
}

.weatherIcon{
  font-size: 200px;
  fill: var(--weatherIconColor);
  margin: 10px 0; 
  display:flex;
  
  -webkit-filter: drop-shadow(0px 0px 212px #6152C8);
   filter: drop-shadow(0px 0px 12px #6152C8);
}


.weatherName{
  font-size: 28px;
}

.weatherTemp{
  font-size: 58px;
  margin-top: 30px;
}



.weatherHumidity, .weatherWindSpeed, .weatherTime{
  font-size: 18px;
}

.miniInfo{
  margin-top:25px;
  width: 70%;
  display: flex;
  justify-content: space-between;
}


.weatherHumidity, .weatherWindSpeed, .weatherTime, .miniInfoText{
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 24px;
}

.miniIcon{
  margin-right: 7px;
  color: var(--miniIconColor);
  display:flex;
  justify-content: center;
  align-items:center;
}



@media (max-width: 530px) { 
  .box{
    margin: 0 20px;
    width: calc(100vw - 40px);
  }
}

@media (max-width: 425px) { 
  
  .miniInfo{
    width: 100%;
  }

  .container{
    padding-top: 57px;
    justify-content: flex-start;
  }

  .inputClass{
    width: 100%;
    font-size: 18px;
  }

  .weatherHumidity, .weatherWindSpeed, .weatherTime{
    font-size: 16px;
  }
}