*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.searchBox{
  width: 350px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  /* margin: auto; */
}

.container{
  width: 100%;
  height: 100vh;;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}